* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.bgFirst {
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 30%;
  z-index: -100;
}
#complated {
  display: none;
}
main {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem;
}

/*--------------------------------------- CARD CSS ---------------------------------------*/

.card {
  flex: 1 0 50%;
  min-width: 400px;
  min-height: 477px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .cardFront {
  width: 350px;
  height: 200px;
  border-radius: 0.8rem;
  background-image: url("./images/bg-card-front.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .cardFront .rowCard {
  height: 50%;
  color: white;
}
.card .cardFront .svgContainer {
  padding: 2rem;
}
.card .cardFront #cardNumberText {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.rowBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0 0;
  font-size: 1.4rem;
  opacity: 0.8;
  text-transform: uppercase;
}
.card .cardFront .cardText {
  padding: 2rem;
  padding-top: 0;
}
.card .cardBack {
  width: 350px;
  height: 200px;
  border-radius: 0.8rem;
  background-image: url("./images/bg-card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 10rem;
  top: 0;
  z-index: 0;
}
.card .cardBack #cvcText {
  font-size: 1.4rem;
  color: white;
  letter-spacing: 0.1rem;
  width: 80%;
  margin: auto;
  position: relative;
  text-align: right;
  top: 42%;
}

/*--------------------------------------- FORM CSS ---------------------------------------*/

#formContainer {
  flex: 1 0 50%;
  min-width: 400px;
  min-height: 477px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
}
#formContainer #paymentInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10rem;
}

#formContainer #paymentInformation .rowForm input {
  width: 100%;
  line-height: 3rem;
  font-size: 2rem;
  padding-left: 0.5rem;
}
#formContainer #paymentInformation .rowForm label {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.6rem;
  letter-spacing: 0.2rem;
  display: block;
}
.errorMessage {
  font-size: 1.4rem;
  color: red;
  margin-bottom: 0.6rem;
}

#formContainer #paymentInformation .flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dateInputContainer {
  flex: 1 0 50%;
}
.dateInputContainer .dateRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1.5rem;
}
.dateInputContainer .dateRow input:first-child {
  margin-right: 0.5rem;
}
.cvc {
  flex: 1 0 50%;
}
#sendBtn {
  width: 100%;
}
.btn {
  display: inline-block;
  height: 4rem;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border-radius: 0.8rem;
  margin-top: 1.5rem;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.exp {
  display: inline-block;
}
.border {
  position: relative;
  padding: 8px 10px;
  font-size: 20px;
  border: 1px solid rgb(191, 190, 190);
  border-width: 2px;
  border-radius: 8px;
  outline: none;
  opacity: 0.5;
  /* background-clip: padding-box; */
}
.errorBorder {
  border: 2px solid red;
}
input:focus {
  opacity: 1;
  border: 2px solid;
  border-image: linear-gradient(
      to right,
      hsl(249, 99%, 64%),
      hsl(278, 94%, 30%)
    )
    1;
}

/* COMPLATED CSS*/

#complated {
  flex: 1 0 50%;
  min-width: 400px;
  display: none;
  padding: 2rem;
  padding-top: 13.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative;
  top: 0;
  left: 0;
}
.tick {
  background-image: linear-gradient(
    to right bottom,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  padding: 25px 30px;
  border-radius: 50%;
  color: white;
  font-size: 2.4rem;
}

#explainHead {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}
#explainBody {
  font-size: 20px;
  color: rgb(159, 159, 159);
}
#continueButton {
  width: 50%;
}
.mb {
  margin-bottom: 2rem;
}

/*ANIMATION CSS*/
.fadeIn {
  animation-name: fadein;
  animation-duration: 0.4s;
}
.fadeUp {
  animation-name: fadeup;
  animation-duration: 0.4s;
}
@keyframes fadein {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 1270px) {
  .exp {
    display: none;
  }
  .card .cardFront #cardNumberText {
    font-size: 2.8rem;
  }
  .rowBottom {
    font-size: 1.3rem;
  }
  .card .cardFront {
    min-width: 350px;
    min-height: 200px;
  }
  .card .cardBack {
    left: 5rem;
    min-width: 350px;
    min-height: 200px;
  }
}
@media only screen and (max-width: 1095px) {
  main {
    padding: 1rem;
    height: auto;
    width: 90%;
  }
  body {
    height: auto;
  }
  .bgFirst {
    background-image: url("./images/bg-main-mobile.png");
    height: 35rem;
    width: 100%;
    min-width: 420px;
  }
  .card {
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-evenly;
  }
  .card .cardFront {
    z-index: 2;
    left: 0.8rem;
  }
  .card .cardFront #cardNumberText {
    font-size: 2.5rem;
  }
  .card .cardBack {
    left: -0.8rem;
    top: -1rem;
    z-index: 1;
  }
  .rowBottom {
    font-size: 1.2rem;
  }
  #formContainer {
    flex-basis: 100%;
    top: -18rem;
  }
  #complated {
    flex-basis: 100%;
    padding: 0 2rem;
    top: -5rem;
  }
}

@media only screen and (max-width: 794px) {
  main {
    width: 100%;
  }
  .card {
    flex-direction: column-reverse;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  .card .cardFront {
    left: -3.5rem;
    top: -9.1rem;
  }
  .card .cardBack {
    left: 3.5rem;
    top: 0rem;
  }
  #formContainer #paymentInformation {
    padding: 0 12rem;
  }
}
@media only screen and (max-width: 475px) {
  #formContainer #paymentInformation {
    padding: 0 3rem;
  }
  .bgFirst {
    background-image: url("./images/bg-main-mobile.png");
    height: 33rem;
    width: 100%;
  }
}
